html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #eee;
}

#container {
	position: relative;
	z-index: 1;
	min-height: 100%;
	#gradient > .vertical(#111, #333);

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url(../img/noise.png);
	}
}

header {
	height: 70px;
	border-bottom: 1px solid #474747;
	#gradient > .vertical-three-colors(#555, #585858, 25%, #313131);
}

h1.plex-icon {
	display: inline-block;
	margin: 10px 0 50px;
	.square(250px);
	background: url(../img/plex.png) no-repeat;
	text-indent: -9999px;
}

ul.nav {
	margin: 0;
	padding: 0 40px;

	li {
		float: left;
		margin: 0 10px;
		line-height: 70px;
		text-shadow: 0 -1px 0 #000;
	}

	li.divider {
		width: 30px;
		height: 70px;
		background: url(../img/divider.png) no-repeat;
	}

	li.divider.primary {
		width: 43px;
		background: url(../img/divider_primary.png) no-repeat;
	}

	[class^="icon-"], [class*=" icon-"] {
		vertical-align: baseline;
	}
}

section.content {
	padding: 40px 40px 200px;
}

section.content.login {
	text-align: center;
}

#login-form {
	margin: 0 auto;
	width: 380px;
	.clearfix();

	input[type=text] {
		padding: 4px 15px;
		.box-sizing(border-box);
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}

	.login-actions {
		padding: 0 5px 0 20px;
		text-align: left;
	}
}

footer {
	position: relative;
	z-index: 1;
	margin-top: -160px;
	.box-sizing(border-box);
	height: 160px;
	border-top: 5px solid #214567;
	background-color: #111;
	text-align: center;
	color: #444;

	a {
		color: #666;
	}

	a.github {
		display: inline-block;
		margin: 10px 0;
		.square(100px);
		.opacity(50);
		background: url(../img/github.png) no-repeat;
		text-indent: -9999px;
		.transition(opacity .1s linear);

		&:hover {
			.opacity(100);
		}
	}

	p.credits {
		font-size: 14px;
	}
}