html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #eee;
}

#container {
	position: relative;
	z-index: 1;
	min-height: 100%;
	#gradient > .vertical(#111, #333);

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url(../img/noise.png);
	}
}

section.content {
	padding: 40px 40px 200px;
}

section.fixed-width {
	margin: 0 auto;
	padding: 40px 0 200px;
	width: 800px;
}

footer {
	position: relative;
	z-index: 1;
	margin-top: -160px;
	.box-sizing(border-box);
	height: 160px;
	border-top: 5px solid #214567;
	background-color: #111;
	text-align: center;
	color: #444;

	a {
		color: #666;
		.transition(color .1s linear);
	}

	a.github {
		display: inline-block;
		margin: 10px 0;
		.square(100px);
		.opacity(50);
		background: url(../img/github.png) no-repeat;
		text-indent: -9999px;
		.transition(opacity .1s linear);

		&:hover {
			.opacity(100);
		}
	}

	p.credits {
		font-size: 14px;
	}
}