// Variables
@baseFontSize: 16px;
@baseLineHeight: 20px;

@linkColor: #ffb406;
@linkColorHover: #ffc763;

@primaryButtonBackground: #ff8e0c;
@btnDangerBackground: #ab4e4c;
@btnDangerBackgroundHighlight: #751c17;
@btnInverseBackground: #808080;
@btnInverseBackgroundHighlight: #505050;

@placeholderText: #bbb;

@dropdownLinkBackgroundHover: #1e90e0;

// Headers
h1, h2, h3 {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 #000;
}

h1 {
	margin-bottom: 20px;
}

// Icons
[class^="icon-"], [class*=" icon-"] {
	padding-bottom: 4px;
	vertical-align: middle;
}

// Buttons
.btn {
	border: none;
	.box-shadow(0 0 0 3px rgba(0, 0, 0, .3));
	font-size: 14px;

	&:active {
		.box-shadow(0 0 0 3px rgba(0, 0, 0, .75));
	}
}

.btn-primary {
	.buttonBackground(#feb942, #ff8e0c);
}

.btn-large {
	padding: 12px 40px;
	font-size: 24px;
	font-weight: bold;
	.box-shadow(0 0 0 5px rgba(0, 0, 0, .3));

	&:hover {
		background-position: 0 -40px;
	}

	&:active {
		.box-shadow(0 0 0 5px rgba(0, 0, 0, .75));
	}
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.btn-group .btn {
	border-left: 1px solid rgba(0,0,0,.25);
	border-right: 1px solid rgba(0,0,0,.25);
	.box-shadow(none);

	&:active {
		.box-shadow(none);
	}

	&:first-child {
		border-left: none;
	}

	&:last-child {
		border-right: none;
	}
}

// Inputs
input {
	border: 2px solid #fff;
	#gradient > .vertical(#eee, #fff);
	.box-shadow(0 0 0 5px rgba(0, 0, 0, .3));
}

input:focus {
	border: 2px solid #ffc763;
	#gradient > .vertical(#fafafa, #fff);
	.box-shadow(0 0 0 5px rgba(255, 255, 255, .15));
}

// Images
.poster {
	.border-radius(5px);
	.box-shadow(0 0 10px rgba(0, 0, 0, .75));

	&:hover {
		.box-shadow(0 0 0 2px #a25600);
	}
}