.content-vertical-list {
	margin: 0;
	list-style-type: none;

	li {
		margin-bottom: 40px;
		
		a {
			h2 {
				.box-sizing(border-box);
				border-bottom: 5px solid rgba(255, 255, 255, 0.15);
				font-weight: normal;
			}

			&:hover {
				text-decoration: none;

				h2 {
					border-bottom: 5px solid rgba(255, 255, 255, 0.25);
				}
			}
		}
	}
}