.content-vertical-list {
	margin: 0;
	list-style-type: none;
}

.content-vertical-list > li {
	margin-bottom: 15px;
	padding: 10px 15px 15px;
	.box-sizing(border-box);
	.border-radius(5px);
	background-color: rgba(0, 0, 0, 0.15);
	.box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.15));
}

.content-vertical-list > li > a {
	&:hover {
		color: #fff;
		text-decoration: none;

		.list-header {
			border-bottom: 5px solid rgba(255, 255, 255, 0.5);
		}
	}
}

.list-header {
	margin-bottom: 10px;
	.box-sizing(border-box);
	border-bottom: 5px solid rgba(255, 255, 255, 0.15);
	font-weight: normal;
}

.list-subheader {
	float: right;
	line-height: 45px;
	color: #eee;
}

.list-label {
	color: #999;
}

.list-detail {
	margin: 2px 0;

	.list-label {
		margin-right: 5px;
	}
}

.video-detail {
	position: relative;
	.clearfix();
	font-size: 14px;

	img {
		float: left;
		width: 150px;
		height: 112px;
		.border-radius(5px);
		.box-shadow(0 0 10px rgba(0, 0, 0, .75));
	}

	.video-summary {
		float: right;
		width: 600px;
	}

	.video-detail-left {
		position: absolute;
		left: 170px;
		bottom: 0;
	}

	.video-detail-right {
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: right;

		a {
			margin-left: 8px;
		}
	}
}