#music-player {
	position: fixed;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 3;
	border-bottom: 1px solid #333;
	#gradient > .vertical(#222, #000);
	.box-shadow(0 5px 5px rgba(0, 0, 0, .3));
}

.now-playing-label,
.now-playing-title {
	display: inline-block;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.now-playing-label {
	margin-right: 4px;
	.opacity(50);
}

#music-player .player-wrapper,
#music-player .player-controls {
	background: none;
}

.player-wrapper {
	position: relative;
	padding: 0 !important;
	border: none !important;
	background-color: #000000;
	line-height: 0 !important;
}

video.player-fullscreen {
	width: 100% !important;
	height: 100% !important;
}

.player-controls {
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-top: 1px solid #000000;
	#gradient > .vertical(#222, #000);
	.transition(height .3s ease-in-out);
	-webkit-transform: translate3d(0, 0, 0);
}

.player-controls-collapsed {
	height: 9px;
}

.player-controls-overlay {
	position: absolute;
	bottom: 0;
}

.player-overlay-play-button {
	cursor: pointer !important;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/player_play.png) no-repeat center;
}

.player-overlay-replay-button {
	cursor: pointer !important;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/player_replay.png) no-repeat center;
}

.player-play-pause-button,
.player-fullscreen-button,
.player-slider-button {
	float: left;
	display: block;
	left: 0 !important;
	top: 0 !important;
	width: 40px;
	height: 30px;
	border: none !important;
	.transition(none);
}

.player-play-pause-button { background: url(../img/player_controls.png) no-repeat 0 0; }
.player-play-pause-button:hover { background-position: -40px 0; }
.player-pause-button { background-position: 0 -30px !important; }
.player-pause-button:hover { background-position: -40px -30px !important; }

.player-fullscreen-button {
	float: right;
	background: url(../img/player_controls.png) no-repeat 0 -330px;
}

.player-fullscreen-button:hover {
	background-position: -40px -330px;
}
.player-volume > .player-slider-button {
	float: right;
	background: url(../img/player_controls.png) no-repeat 0 -60px;
}

.player-volume > .player-slider-button:hover {
	background-position: -40px -60px;
}

.player-volume-button-low { background-position: 0 -90px !important; }
.player-volume-button-low:hover { background-position: -40px -90px !important; }
.player-volume-button-off { background-position: 0 -120px !important; }
.player-volume-button-off:hover { background-position: -40px -120px !important; }

.player-playback-rate > .player-slider-button {
	background: url(../img/player_controls.png) no-repeat 0 -150px;
}

.player-playback-rate > .player-slider-button:hover {
	background-position: -40px -150px;
}

.player-playback-rate:hover .player-playback-rate-button-point1x,
.player-active-slider .player-playback-rate-button-point1x { background-position: 0 -180px; }
.player-playback-rate-button-point1x:hover { background-position: -40px -180px !important; }
.player-playback-rate:hover .player-playback-rate-button-point5x,
.player-active-slider .player-playback-rate-button-point5x { background-position: 0 -210px; }
.player-playback-rate-button-point5x:hover { background-position: -40px -210px !important; }
.player-playback-rate:hover .player-playback-rate-button-1x,
.player-active-slider .player-playback-rate-button-1x { background-position: 0 -240px; }
.player-playback-rate-button-1x:hover { background-position: -40px -240px !important; }
.player-playback-rate:hover .player-playback-rate-button-2x,
.player-active-slider .player-playback-rate-button-2x { background-position: 0 -270px; }
.player-playback-rate-button-2x:hover { background-position: -40px -270px !important; }
.player-playback-rate:hover .player-playback-rate-button-3x,
.player-active-slider .player-playback-rate-button-3x { background-position: 0 -300px; }
.player-playback-rate-button-3x:hover { background-position: -40px -300px !important; }

.player-volume,
.player-playback-rate {
	position: relative;
	overflow: hidden;
	width: 40px;
	height: 30px;
	.transition(width .3s ease-in-out);
}

.player-controls-overlay .player-volume,
.player-controls-overlay .player-playback-rate {
	overflow: visible !important;
	width: 150px !important;
}

.player-volume { float: right; }
.player-playback-rate { float: left; }

.player-volume:hover,
.player-playback-rate:hover,
.player-active-slider {
	width: 150px;
}

.player-progress-bar,
.player-progress-thumb,
.player-active-slider .player-slider-bar,
.player-active-slider .player-slider-thumb,
.player-controls-overlay .player-volume,
.player-controls-overlay .player-playback-rate {
	.transition(none);
}

.player-slider-track {
	position: relative;
	cursor: pointer !important;
	width: 100%;
	height: 8px;
	border-top: 1px solid #3a3a3a;
	border-bottom: 1px solid #333333;
	
	background: #2a2a2a;
	background: -moz-linear-gradient(top, #2a2a2a 0%, #1a1a1a 50%, #000000 51%, #131313 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(50%,#1a1a1a), color-stop(51%,#000000), color-stop(100%,#131313));
	background: -webkit-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: -o-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: -ms-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
}

.player-volume .player-slider-track,
.player-playback-rate .player-slider-track {
	position: absolute;
	top: 0;
	width: 100px;
	margin: 11px 0 0 0;
	.border-radius(4px);
}

.player-volume .player-slider-track {
	right: 40px;
	margin-left: 10px;
}

.player-playback-rate .player-slider-track {
	left: 40px;
	margin-right: 10px;
}

.player-slider-bar {
	cursor: pointer !important;
	width: 4px;
	height: 8px;
	
	background: #2e7ac7;
	background: -moz-linear-gradient(top, #2e7ac7 0%, #2970b8 50%, #225e9b 51%, #2465a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(50%,#1a1a1a), color-stop(51%,#225e9b), color-stop(100%,#2465a8));
	background: -webkit-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: -o-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: -ms-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);

	.transition(width .1s ease-in-out);
}

.player-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.player-buffer-bar {
	cursor: pointer !important;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 8px;
	z-index: 1;
	
	background: #4a4a4a;
	background: -moz-linear-gradient(top, #4a4a4a 0%, #3a3a3a 50%, #222222 51%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(50%,#3a3a3a), color-stop(51%,#222222), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top, #4a4a4a 0%,#3a3a3a 50%,#222222 51%,#333333 100%);
	background: -o-linear-gradient(top, #4a4a4a 0%,#3a3a3a 50%,#222222 51%,#333333 100%);
	background: -ms-linear-gradient(top, #4a4a4a 0%,#3a3a3a 50%,#222222 51%,#333333 100%);
	background: linear-gradient(top, #4a4a4a 0%,#3a3a3a 50%,#222222 51%,#333333 100%);
}

.player-volume .player-slider-bar,
.player-playback-rate .player-slider-bar {
	cursor: pointer !important;
	height: 8px;
	
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	 border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.player-slider-thumb {
	cursor: pointer !important;
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	z-index: 3;
	.border-radius(4px);
	#gradient > .radial(#ddd, #aaa);
	.transition(left .1s ease-in-out);
}

.player-active-slider .player-slider-thumb,
.player-seek-bar:hover .player-progress-thumb,
.player-slider-track:hover .player-slider-thumb {
	background: #ffffff !important;
}

.player-time {
	float: right;
	height: 30px;
	padding: 0 10px;
	font-size: 12px;
	line-height: 30px;
	color: #aaaaaa;
}

.player-current-time {
	color: #ffffff;
}