.sidebar {
	position: fixed;
	float: left;
	width: 250px;
	margin-top: 5px;
	padding: 15px;
	.box-sizing(border-box);
	.border-radius(5px);
	background-color: rgba(0, 0, 0, 0.15);
	.box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.15));
}

.sidebar-options {
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, 0.05);
	border-bottom: 5px solid rgba(255, 255, 255, 0.05);
	font-size: 18px;

	.search-query {
		margin: 15px 0;
		padding: 0 10px;
		width: 100%;
		height: 25px;
		.box-sizing(border-box);
		border-color: #777;
		background: #505050;
		.box-shadow(0 0 0 3px rgba(0, 0, 0, .3));
		font-size: 14px;
		line-height: 25px;
		color: #eee;

		&:focus {
			border-color: #ffc763;
			background: #eee;
			.box-shadow(0 0 0 3px rgba(255, 255, 255, .15));
			color: #555;
		}
	}
}

#sidebar-search {
	margin: 0;
}

.sidebar-options > .btn-group {
	margin-left: 57px;
}

.sidebar-filter-list {
	margin: 0 10px;
	list-style-type: none;
}

.sidebar-filter-list > li {
	font-size: 14px;

	&.selected {
		color: #fff;

		a {
			color: #fff;
		}
	}

	a {
		color: #888;
		text-decoration: none;
		.transition(color .1s linear);

		&:hover {
			color: #ccc;
		}
	}
}